{%- from "fluent-bit/map.jinja" import bit with context -%}
[Unit]
Description={{ bit.pkg |replace("-", " ") | title }}
Requires=network.target
After=network.target

[Service]
Type=simple

ExecStart=/opt/td-agent-bit/bin/{{ bit.pkg }} -c /opt/td-agent-bit/{{ bit.pkg }}/{{ bit.pkg }}.conf -R /opt/td-agent-bit/{{ bit.pkg }}/parsers.conf
Restart=always

[Install]
WantedBy=multi-user.target
